In [1]:
import pandas as pd
import numpy as np

## Preparando dados

In [2]:
hp_2015 = pd.read_csv('2015.csv')
hp_2016 = pd.read_csv('2016.csv')
hp_2017 = pd.read_csv('2017.csv')
hp_2018 = pd.read_csv('2018.csv')
hp_2019 = pd.read_csv('2019.csv')

In [3]:
hp_2018 = hp_2018.rename(columns={'Country or region': 'Country'})
hp_2019 = hp_2019.rename(columns={'Country or region': 'Country'})

In [4]:
hp_2015['Year'] = '2015'
hp_2016['Year'] = '2016'
hp_2017['Year'] = '2017'
hp_2018['Year'] = '2018'
hp_2019['Year'] = '2019'

#### Em todos: 
Country
Year
Happiness Rank
Happiness Score
GPD per capta
Family
Healthy Life Expectancy
Freedom
Generosity
Corruption

## 2015
Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual', 'Year'],
      dtype='object')

In [6]:
hp_2015.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual', 'Year'],
      dtype='object')

In [11]:
hp_2015_correto = hp_2015.copy()

In [12]:
hp_2015_correto = hp_2015.drop(columns = ['Region',
                                          'Standard Error', 'Dystopia Residual'])

In [13]:
hp_2015_correto.columns

Index(['Country', 'Happiness Rank', 'Happiness Score',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity', 'Year'],
      dtype='object')

In [14]:
hp_2015_correto.columns=["Country",
"Happiness Rank",
"Happiness Score",
"GPD per capta",
"Family",
"Healthy Life Expectancy",
"Freedom",
"Corruption",
"Generosity",
"Year"]

In [15]:
hp_2015_correto.head()

,Country,Happiness Rank,Happiness Score,GPD per capta,Family,Healthy Life Expectancy,Freedom,Corruption,Generosity,Year
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2015
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2015
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2015
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2015
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2015

## 2016 
Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual', 'Year'],
      dtype='object')

In [7]:
hp_2016.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual', 'Year'],
      dtype='object')

In [16]:
hp_2016_correto = hp_2016.copy()

In [19]:
hp_2016_correto = hp_2016_correto.drop(columns = ["Region", "Lower Confidence Interval", "Upper Confidence Interval","Dystopia Residual"])

In [21]:
hp_2016_correto.columns=["Country",
"Happiness Rank",
"Happiness Score",
"GPD per capta",
"Family",
"Healthy Life Expectancy",
"Freedom",
"Corruption",
"Generosity",
"Year"]

In [22]:
hp_2016_correto.head()

,Country,Happiness Rank,Happiness Score,GPD per capta,Family,Healthy Life Expectancy,Freedom,Corruption,Generosity,Year
0,Denmark,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2016
1,Switzerland,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2016
2,Iceland,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2016
3,Norway,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2016
4,Finland,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2016

## 2017
Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual', 'Year'],
      dtype='object')

In [8]:
hp_2017.columns

Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual', 'Year'],
      dtype='object')

In [23]:
hp_2017_correto = hp_2017.copy()

In [26]:
hp_2017_correto = hp_2017_correto.drop(columns = ["Whisker.high",
                                                  "Whisker.low", 
                                                  "Dystopia.Residual"])

In [27]:
hp_2017_correto.head()

,Country,Happiness.Rank,Happiness.Score,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Year
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2017
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2017
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2017
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2017
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2017

In [28]:
hp_2017_correto.columns=["Country",
"Happiness Rank",
"Happiness Score",
"GPD per capta",
"Family",
"Healthy Life Expectancy",
"Freedom",
"Generosity",
"Corruption",
"Year"]

In [29]:
hp_2017_correto.head()

,Country,Happiness Rank,Happiness Score,GPD per capta,Family,Healthy Life Expectancy,Freedom,Generosity,Corruption,Year
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2017
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2017
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2017
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2017
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2017

## 2018
Index(['Overall rank', 'Country', 'Score', 'GDP per capita', 'Social support',
       'Healthy life expectancy', 'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Year'],
      dtype='object')

In [9]:
hp_2018.columns

Index(['Overall rank', 'Country', 'Score', 'GDP per capita', 'Social support',
       'Healthy life expectancy', 'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Year'],
      dtype='object')

In [33]:
hp_2018.head()

,Overall rank,Country,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018

In [30]:
hp_2018_correto = hp_2018.copy()

In [38]:
hp_2018_correto.columns=[
    "Happiness Rank",
    "Country",
    "Happiness Score",
    "GPD per capta",
    "Family",
    "Healthy Life Expectancy",
    "Freedom",
    "Generosity",
    "Corruption",
    "Year"]

## Family = Social Support

## 2019
Index(['Overall rank', 'Country', 'Score', 'GDP per capita', 'Social support',
       'Healthy life expectancy', 'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Year'],
      dtype='object')

In [10]:
hp_2019.columns

Index(['Overall rank', 'Country', 'Score', 'GDP per capita', 'Social support',
       'Healthy life expectancy', 'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Year'],
      dtype='object')

In [40]:
hp_2019_correto = hp_2019.copy()

In [41]:
hp_2019_correto.columns=[
    "Happiness Rank",
    "Country",
    "Happiness Score",
    "GPD per capta",
    "Family",
    "Healthy Life Expectancy",
    "Freedom",
    "Generosity",
    "Corruption",
    "Year"]

In [42]:
hp_2019_correto.head()

,Happiness Rank,Country,Happiness Score,GPD per capta,Family,Healthy Life Expectancy,Freedom,Generosity,Corruption,Year
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

## Concatenando

In [43]:
groups = pd.concat(objs = [hp_2015_correto, hp_2016_correto, hp_2017_correto, hp_2018_correto, hp_2019_correto], ignore_index = True)

In [44]:
groups.head()

,Country,Happiness Rank,Happiness Score,GPD per capta,Family,Healthy Life Expectancy,Freedom,Corruption,Generosity,Year
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2015
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2015
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2015
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2015
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2015

In [45]:
groups.shape

(782, 10)

In [46]:
groups.tail()

,Country,Happiness Rank,Happiness Score,GPD per capta,Family,Healthy Life Expectancy,Freedom,Corruption,Generosity,Year
777,Rwanda,152,3.334,0.359,0.711,0.614,0.555,0.411,0.217,2019
778,Tanzania,153,3.231,0.476,0.885,0.499,0.417,0.147,0.276,2019
779,Afghanistan,154,3.203,0.350,0.517,0.361,0.000,0.025,0.158,2019
780,Central African Republic,155,3.083,0.026,0.000,0.105,0.225,0.035,0.235,2019
781,South Sudan,156,2.853,0.306,0.575,0.295,0.010,0.091,0.202,2019

In [47]:
groups.set_index(["Country", "Year"])

,,Happiness Rank,Happiness Score,GPD per capta,Family,Healthy Life Expectancy,Freedom,Corruption,Generosity
Country,Year,,,,,,,,
Switzerland,2015,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
Iceland,2015,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
Denmark,2015,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
Norway,2015,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
Canada,2015,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811
...,...,...,...,...,...,...,...,...,...
Rwanda,2019,152,3.334,0.35900,0.71100,0.61400,0.55500,0.41100,0.21700
Tanzania,2019,153,3.231,0.47600,0.88500,0.49900,0.41700,0.14700,0.27600
Afghanistan,2019,154,3.203,0.35000,0.51700,0.36100,0.00000,0.02500,0.15800
Central African Republic,2019,155,3.083,0.02600,0.00000,0.10500,0.22500,0.03500,0.23500
South Sudan,2019,156,2.853,0.30600,0.57500,0.29500,0.01000,0.09100,0.20200

In [48]:
groups.to_csv("Dataframe_Concatenado.csv")